.card-prod{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 208px;
   border: solid 1px red;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: flex-start;
 }

.container-img{
   height: 50em;
   width: 18em;
}